<html>

<head>

  <title>web Services</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>
  <script src="views/controller.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <h1>WEB</h1>
  <form method="post">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <label>Enter Your Name</label>&emsp;
          <input type="text" ng-model="stu.Username" name="Username" placeholder="Enter name..." required><br><br>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <label>Enter Your Id</label>&emsp;&emsp;&emsp;
          <input type="text" ng-model="stu.Userid" name="Userid" placeholder="Enter id..." required><br><br>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <label>Select your Skills</label>&emsp;&emsp;&emsp;
          <select ng-model="stu.selectedSkills" name="selectedSkills" ng-options="x for x in skills" multiple ></select>
        </div>
      </div>

      <input type="button" value="Insert" ng-click="insertFun(stu)">
      <input type="button" value="Update" ng-click="updateFun(stu)">
      <input type="button" value="Delete" ng-click="deleteFun(stu)">
    </div>
  </form>
  {{myWelcome}}

  <div ng-controller="myCtrl1">
    <table class="table table-inverse">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Skills</th>
      </tr>
      <tr ng-repeat="student in myWelcome">
        <td>{{student.fid}}</td>
        <td>{{student.fname}}</td>
        <td>{{student.fskills}}</td>
      </tr>
    </table>
  </div>

</body>

</html>